<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyb.blogserver.dao.ChapterMapper">
  <resultMap id="chapterMap" type="com.cyb.blogserver.domain.Chapter">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="teclearning_id" jdbcType="VARCHAR" property="teclearningId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>

  <!-- 删除 -->
  <delete id="deleteByTecLearningId">

  </delete>

  <delete id="deleteByPrimaryKey">

  </delete>

  <!-- 添加 -->
  <insert id="insert" parameterType="com.cyb.blogserver.domain.Chapter">
    INSERT INTO chapter
    VALUES (#{id}, #{teclearningId}, #{title}, #{desc}, #{content}, #{img})
  </insert>

  <!-- 修改-->
  <update id="updateByPrimaryKey">

  </update>

  <!-- 查询 -->
  <select id="selectByPrimaryKey">

  </select>
  <select id="selectByTecLearningId" resultType="java.util.List">

  </select>

</mapper>