<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyb.blogserver.dao.TecLearningMapper">
  <resultMap id="tecLearningMap" type="com.cyb.blogserver.domain.TecLearning">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="preface" jdbcType="VARCHAR" property="preface" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="create_date" jdbcType="DATE" property="createDate" />

    <collection property="chapterList" ofType="com.cyb.blogserver.domain.Chapter" column="teclearning_id">
      <id column="id" jdbcType="VARCHAR" property="id" />
      <result column="teclearning_id" jdbcType="VARCHAR" property="teclearningId" />
      <result column="title" jdbcType="VARCHAR" property="title" />
      <result column="desc" jdbcType="VARCHAR" property="desc" />
      <result column="content" jdbcType="VARCHAR" property="content" />
      <result column="img" jdbcType="VARCHAR" property="img" />
      <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    </collection>
  </resultMap>

  <!-- 添加 -->
  <insert id="insert" parameterType="com.cyb.blogserver.domain.TecLearning">
    INSERT INTO teclearning
    (id, title, category, tag, preface, img, create_date)
    VALUES (#{id}, #{title}, #{category}, #{tag}, #{preface}, #{img}, #{createDate})
  </insert>

  <!-- 删除 -->
  <delete id="deleteByPrimaryKey">

  </delete>

  <!-- 修改 -->
  <update id="updateByPrimaryKey">

  </update>

  <!-- 查询 -->
  <select id="selectByPrimaryKey" resultMap="tecLearningMap">
    SELECT * FROM teclearning WHERE id = #{id}
  </select>

  <select id="selectOneByTecLearning" resultMap="tecLearningMap">
    SELECT *
    FROM teclearning
    <where>
      <if test="title != null and title !=''">
        AND title = #{title}
      </if>
      <if test="category != null and category !=''">
        AND category = #{category}
      </if>
      <if test="tag != null and tag !=''">
        AND tag = #{tag}
      </if>
    </where>
  </select>

  <select id="selectByTecLearning" resultMap="tecLearningMap">
    SELECT t.*, c.*
    FROM teclearning t
    LEFT JOIN chapter c ON t.id = c.teclearning_id
  </select>

</mapper>