<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyb.blogserver.dao.TecLearningMapper">
  <resultMap id="BaseResultMap" type="com.cyb.blogserver.domain.TecLearning">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="preface" jdbcType="VARCHAR" property="preface" />
    <result column="img" jdbcType="VARCHAR" property="img" />

    <collection property="chapterList" ofType="com.cyb.blogserver.domain.Chapter" column="teclearning_id">
      <id column="id" jdbcType="VARCHAR" property="id" />
      <result column="teclearning_id" jdbcType="VARCHAR" property="teclearningId" />
      <result column="title" jdbcType="VARCHAR" property="title" />
      <result column="desc" jdbcType="VARCHAR" property="desc" />
      <result column="content" jdbcType="VARCHAR" property="content" />
      <result column="img" jdbcType="VARCHAR" property="img" />
    </collection>
  </resultMap>

  <!-- 添加 -->
  <insert id="insert" parameterMap="BaseResultMap">
    INSERT INTO teclearning
    VALUES (#{chapter.id}, #{chapter.title}, #{chapter.category}, #{chapter.tag}, , #{chapter.preface}, , #{chapter.img})
  </insert>

  <!-- 删除 -->
  <delete id="deleteByPrimaryKey">

  </delete>

  <!-- 修改 -->
  <update id="updateByPrimaryKey">

  </update>

  <!-- 查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">

  </select>

  <select id="selectByTecLearning" resultType="java.util.List">
    SELECT t.*, c.*
    FROM teclearning t, chapter c
    WHERE t.id = c.teclearning_id
  </select>

</mapper>